dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp

src/Data/Parallel/KMeans

src/Data/Parallel/DoNothing1

src/Data/Parallel/DoNothing2
